*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* *NAVBAR STYLES */
.nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(40, 21, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 10%;
}
.nav a{
    color: aliceblue;
    font-size: 28px;
    display: block;
    padding: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav a:hover{
    background-color:rgb(91, 48, 19) ;
} 
/* *NAVBAR STYLES */
/* *WELCOME-SECTİON STYLES */
#welcome-section{
    height: 100vh;
    text-align: center;   
    background-image:url("https://get.wallhere.com/photo/Stable-Diffusion-4k-ai-art-digital-art-fantasy-art-2216598.jpg") ; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    line-height: 100px;
    word-spacing: 10px;
}

#welcome-section h1{
    padding-top: 150px;
}

/* *WELCOME-SECTİON STYLES */
/* *PROJECTS STYLES */
#projects{
    background-color: brown;
    height: 100vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#projects h2{
    color: aliceblue;
    text-shadow: 2px 2px 1px 1px black;
    padding-top:70px ;
    font-size: 50px;
    
}
.project-flex{
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}
.project-flex img{
    width: 100%;
    height: 300px;
    display: block;
    image-rendering: auto;
}
.project-tile{
    background-color: rgb(48, 45, 45);
    width: 35vh;
    border-radius:4px  ;
}
.project-tile a h3{
    color: aliceblue;
    padding: 20px 10px;
}
/* *PROJECTS STYLES */
/* *CONTACT STYLES */
#contact{
    height: 100vh;
    background-color: darkblue;
    text-align: center;
    font-size: 50px;
    color: lightgray;
    line-height: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 #contact h2{
padding-top: 220px;
} 
.profile a {
    color: white;
   text-shadow: 2px 2px black;
position: relative;
transition: top 2s ease-in ;
}
.profile a:hover{
  top: 14px;
   
   
}
.profile a i{
    color: white;
    padding: 0px 22px;
}


/* *CONTACT STYLES */
/* *RESPONSİVE STYLES */
@media (max-width:1200px){
    .nav{
        gap: 25px;
        height:8% ;
    }
    .nav a{
        font-size: 24px;
        padding: 7px;
    }
    #welcome-section{
        font-size: 55px;
        line-height: 80px;
        word-spacing: 9px;
    }
    #welcome-section h1{
        padding-top: 130px;
    }
    #projects h2{
        font-size:40px ;
        padding-top:50px ;
    }
    .project-flex{
        padding-top: 50px;
    }
    .project-flex img{
        height: 300px;
    }
    .project-tile{
        width: 30vh;
    }
    .project-tile a h3{
        font-size: 18px;
    }
    #contact{
        font-size: 45px;
        line-height: 90px;
    }
    
    
}
@media (max-width:992px){
    .nav{
        gap: 25px;
        height:8% ;
    }
    .nav a{
        font-size: 24px;
        padding: 5px;
    }
    #welcome-section{
        font-size: 45px;
        line-height: 80px;
        word-spacing: 9px;
    }
    #welcome-section h1{
        padding-top: 110px;
    }
    #projects h2{
        font-size:40px ;
        padding-top:40px ;
    }
    .project-flex{
        padding-top: 50px;
    }
    .project-flex img{
        height: 250px;
    }
    .project-tile{
        width: 25vh;
    }
    .project-tile a h3{
        font-size: 18px;
    }
    #contact{
        font-size: 45px;
        line-height: 90px;
    }
    
    
}
@media (max-width:768px){
    .nav{
        gap: 20px;
        height: 6%;
        
    } 
    .nav a{
        font-size: 24px;
        padding: 3px;
    }
    #welcome-section{
        font-size: 35px;
        line-height: 70px;
        word-spacing: 8px;
    }
    #welcome-section h1{
        padding-top: 100px;
    }
    #projects h2{
        font-size:35px ;
        padding-top:30px ;
    }
    .project-flex{
        padding-top: 40px;
        flex-wrap: wrap;
        gap: 8px;
    }
    .project-flex img{
        height: 200px;
    }
    .project-tile{
        width: 20vh;
    }
    .project-tile a h3{
        padding: 15px 10px;
        font-size: 15px;
    }
    #contact{
        font-size: 30px;
        line-height: 80px;
    }
    #contact h2{
        padding-top: 120px;
    }
    .profile a { 
        display: block;
        padding: 4px 0;
        text-align: center;
    }
    
}
@media (max-width:576px){
    .nav{
        gap: 10px;
        height: 5%;
    }
    .nav a{
        font-size: 20px;
        padding: 5px;
    }
    #welcome-section{
        font-size: 25px;
        line-height: 60px;
        word-spacing: 7px;
    }
    #welcome-section h1{
        padding-top: 85px;
    }
    #projects h2{
        font-size:30px ;
        padding-top:20px ;
    }
    .project-flex{
        padding-top: 30px;
        gap: 10px;
    }
    
    .project-flex img{
        height: 200px;
    }
    .project-tile{
        width: 20vh;
    }
    .project-tile a h3{
        padding: 10px 5px;
        font-size: 12px;
    }
    #contact{
        font-size: 25px;
        line-height: 70px;
    }
    #contact h2{
        padding-top: 100px;
    }
    .profile a { 
        display: block;
        padding: 2px 0;
        text-align: center;
    }
    
    
}









/* *RESPONSİVE STYLES */